<!DOCTYPE html>

<html>
  <body>
    <form method='post' action='/checkout'>
      Name of item: <input type='text' id='item' name='item'>
      <input type='submit' id='submit' value='submit'>
    </form>
  </body>
</html>
